@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Style+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body {
    background-color: wheat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

input[type="button"]:hover {
    background: rgba(229, 168, 54, 0.548);
}


input[type="button"] {
    font-size: 20px;
    font-family: sans-serif;
    width: 50px;
    height: 50px;
    margin-bottom: 1px;
    border-radius: 20%;
    border: 1px inset rgba(0, 0, 0, 0.627);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.127);
    margin-top: 2px;
    margin-right: -1px;
    background: rgba(253, 242, 220, 0.911);
    transition: .2s ease-in;
}

#currentCalculatorName {
    font-size: 16px;
    font-family: 'style script';
    letter-spacing: 1px;
}

input.sym {
    background: wheat;
}

.container {
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9px 15px 15px 15px;
    background: rgba(253, 242, 220, 0.911);
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.205);
    border-radius: 20px;
}


.container .input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.output-container {
    width: 100%;
    height: 75px;
    border: 1px solid rgba(0, 0, 0, 0.923);
    border-radius: 3px;
    background: #7a7979bd;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.74);
    padding: 0 5px 0 5px;
}

.output-container input {
    width: 100%;
    height: calc(75px / 2);
    background: transparent;
    border: none;
    color: black;
    font-weight: 500;
    font-size: 27px;
    font-family: 'digital-clock-font';
    text-align: left;
}

.output-container input:nth-child(2) {
    text-align: right;
}

.change-name-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vh;
    margin-top: 20px;
}

.change-name-form input {
    width: 230px;
    padding: 10px;
    font-size: 14px;
    outline: none;
    border-radius: 9px 0px 0px 9px;
    border: none;
    background: #ffff;
    height: 100%;
}

.change-name-form button {
    width: 160px;
    height: 100%;
    background: rgba(253, 242, 220, 0.911);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.045);
    border: 1px solid transparent;
    border-radius: 0 9px 9px 0;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    transition: .3s ease-in-out;
    color: dimgrey;

}

.change-name-form button:hover {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.01);
}

.change-name-form button:hover {
    background: wheat;
}

.digital-time {
    background: #535353c6;
    width: 45%;
    height: 6vh;
    display: flex;
    margin-bottom: 12px;
    border: 1px solid black;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.205);
    border-radius: 2px;
    justify-content: center;
    align-items: center;
}


.minutes,
.hours,
.seconds {
    font-size: 25px;
    font-family: 'digital-clock-font';
}

@font-face {
    font-family: 'digital-clock-font';
    src: url('ds_digital/DS-DIGIB.TTF');
}

.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.head h2 {
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 200;
    color: black;
    font-family: 'Style Script', sans-serif;
    margin-left: 3px;
}
